# Python-specific 
__pycache__/
*.pyc

# Virtual environments
.venv/
.env/

# Training and output data
training_output/
training_output_backup/
flask_session/
app/archive/

# Editor and IDE-specific files
.claude/
.vscode/

# Other 
profile_output.pstats

